body {
	padding-top:70px;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;

}

#nav-title{
	font-weight: 200;
}

.navbar-brand{
  color: rgb(42, 42, 42);
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  align-items: center;
}



.navbar-header {
  float: none;
	align-items: center;
	text-align: center;
}

nav.navbar.navbar-fixed-top {
background-color: rgb(255, 255, 255);
}

.navbar-toggle {
  display: block;
	text-align: center;
	float: none;
	align-content: center;
	align-self: center;
	margin:auto;
  display:block;
}
.navbar-collapse.collapse {
  display: none!important;
	/*float: right;*/
	align-self: center;
	float:none;


}
.navbar-nav {f
  float: none!important;
	/*float: right;*/
	align-items: center;
	float:none;


}
.navbar-nav>li {
  float: none;
	align-items: center;

}
.navbar-collapse.collapse.in{
  display:block !important;
/*	float: right;*/
text-align: center;


}

a{
	text-decoration: none;
	transition: ease-out .2s;
	color: #59cdfe;
}

a:hover{
	text-decoration: none;
}

ul{
	/*text-align: center;*/
  /*text-align: right;*/
	list-style-type: circle;
}

li{
	list-style-type: circle;

}



span{
	padding-bottom: 20px;
	font-size: 20px;
}

.about-pic{
  width: 400px;
  display: block;
  margin: auto;
  transition: all ease 0.2s;
  self-align: center;
	padding: 30px;
	padding-bottom: 300px;
}

.about_description{
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 20%;
	padding-bottom: 20%;
	line-height: 1.5;
	display: block;

}

#about-me-container{
	background-color: #ffeef1;
	margin-left: 0px;
	align-content: center;
	margin-right: 0px;
}

#resume-container{
	/*background-color: #52489C;*/
	background-color:#ececec;
	/*background-color: #A09ABC;*/
	margin-left: 0px;
	margin-right: 0px;
}



.container{
  line-height: 28px;
  font-size: 20px;
	padding-top: 100px;
	/*padding-left: 20%;
	padding-right: 20%;*/
  /*display:block;*/
  font-family: 'Montserrat', sans-serif;
}


/*Resume*/
.tagline {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.3em;
  font-weight: 700;
  padding-bottom: 50px;
  font-size: 20px;
  text-transform: uppercase;
}

.section-tagline {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.3em;
  font-weight: 700;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid #CEC8C8;
  font-size: 17px;
  text-transform: uppercase;
}

.skill {
  border: 1px solid #50a9d1;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 500;
  width: auto;
  display: inline-block;
  font-size: 11px;
  line-height: 1.33333em;
  padding: 7px 18px;
  margin-top: 0.8em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
	transition: .2s;
}

.skill:hover{
	transform: scale(1.1);
}

.tool {
  border-color: #86BE91;
}

.other {
  border-color: #b172d2;
}

.bolded{
	font-weight: bold;
	font-size: 16px;
}

#resume {
  background-color: #e2e2e2;
  height: auto;
  margin-top: -30px;
  padding-top: 8%;
/*  //font-family: 'Karla';*/
  font-size: 16px;
  line-height: 34px;
  -webkit-font-smoothing: antialiased;
}

#resume .inner {
  width:700px;
}

img.icon {
  width: 65px;
  height: 65px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius:50%;
  float: left;
  display: block;
  margin-left: -95px;
  margin-top: 5px;
  background-color: #fff;
  opacity: 0.8;
  z-index: 0;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);   /*For Webkit browsers */
  filter: gray;  /* For IE 6 - 9 */
  -webkit-transition: all .4s ease;
}

img.icon:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: none;
	transform: scale(1.1);
}

img.contact-icon:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: none;
}

#work{
  background: #eee;
  height: auto;
  margin-top: -30px;
  text-align: center;
  padding: 60px 0 60px 0;
  font-size: 26px;
  line-height: 40px;
}

.row {
  clear: both;
}

#resume .inner {
    width: 85%;
}

#resume .inner {
    width: 700px;
}

.right {
    float: right;
		font-size: 18px;
		height: 25px;
}

.inner {
    max-width: 1024px;
    margin: 0 auto;
}

/*Projects*/
h1{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.3em;
  font-weight: 700;
  padding-bottom: 50px;
  font-size: 40px;
  text-transform: uppercase;
}

h2{
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	font-size: 38px;
	text-align: center;
	padding-bottom: 2.5%;
}

p{
	font-size: 17px;
}

.proj-par{
	text-align: center;
	padding-right: 10%;
	padding-left: 10%;
}

#projects-container{
	background-color: rgb(234, 223, 254);
}

.h2:hover{
	transform: translateY(100);

}

.contact{
	padding-top: 14%;
}

#contact-container{
	background-color: rgb(255, 230, 166);
}


img.contact-icon {
  width: 75px;
  height: 75px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius:50%;

  background-color: #fff;
  opacity: 0.8;
  z-index: 0;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);   /*For Webkit browsers */
  filter: gray;  /* For IE 6 - 9 */
  -webkit-transition: all .4s ease;
}

img.contact-icon:hover {
	transform: scale(1.1);
}

footer{
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
	color: rgb(255, 255, 255);
	font-family: 'Dancing Script', cursive;"
	font-size: 20px;
	font-weight: bolded;
	font-weight: 500;
}

.dev-tool{
	font-size: 17px;
	transition: ease-out .4s;
}

.dev-tool:hover{
	color: rgb(8, 181, 255);
}

.dev-tool2{
	font-size: 17px;
	transition: ease-out .4s;
}

.dev-tool2:hover{
	color: rgb(8, 255, 107);
}

.dev-tool3{
	font-size: 17px;
	transition: ease-out .4s;
}

.dev-tool3:hover{
	color: rgb(255, 253, 8);
}

.dev-tool4{
	font-size: 17px;
	transition: ease-out .4s;
}

.dev-tool4:hover{
	color: rgb(255, 45, 8);
}

/*
.proj{
	font-size: 40px;

}
.proj:hover{
	transform: translateY(10px);
	color: rgb(125, 213, 236);
}*/
